<div class="container mt-3">
    <h3 class="text-center"> Alta de Persona</h3>
    <div>
        <form [formGroup]="formPaciente" (ngSubmit)="guardar()">
            <div class="row">
                <div class="col-md-4 mt-1">
                    <label for="">Nombre</label>
                    <input class="form-control" type="text" id="inputNombre" formControlName="nombre">
                </div>
                <div class="col-md-4 mt-1">
                    <label for="">DNI</label>
                    <input class="form-control" type="text"  id="inputDNI" formControlName="dni" >
                </div>
                <div class="col-md-4  mt-1">
                    <label for="">Correo</label>
                    <input class="form-control" type="number" id="inputCorreo" formControlName="correo" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-1">
                    <label for="">Codigo Postal</label>
                    <input class="form-control" type="text" id="inputCodigoPostal" formControlName="codigoPostal">
                </div>
                <div class="col-md-4 mt-1">
                    <label for="">Genero</label>
                    <input class="form-control" type="text"  id="inputGenero" formControlName="genero" >
                </div>
                <div class="col-md-4  mt-1">
                    <label for="">Telefono</label>
                    <input class="form-control" type="number" id="inputTelefono" formControlName="telefono" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-1">
                    <label for="">Fecha Nacimiento</label>
                    <input class="form-control" type="text" id="inputFechaNacimiento" formControlName="fechaNacimiento">
                </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
    </div>
</div>