<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- defaultHref="/" NOS DEVUELVE AL COMPONENTE PADRE -->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- EL ION LIST PERMITE SCROLLEAR EN LA PANTALLA SI TENEMOS VARIOS ITEMS -->
  <ion-list>
    <ion-item>
      <ion-label color="tertiary" position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
