<app-loading *ngIf="loadingArtis"></app-loading>
<div *ngIf="!loadingArtis" class="row animated fadeIn">
    <div class="col-2">
        <img [src]="artista.images[0].url" alt="" class="img-thumbnail">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>
        </p>
        <ul>
            <li *ngFor="let track of tracks">
                {{track.name}}
            </li>
        </ul>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table table-striped table-dark text-center">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Album</th>
                    <th scope="col">Cancion</th>
                    <th scope="col">Go Spotify</th>
                    <th scope="col">Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td scope="row"><img [src]="track.album.images[0].url" alt="" class="img-thumb"></td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td><a [href]="track.external_urls.spotify" target="_blank">Go to Track</a></td>
                    <td><audio [src]="track.preview_url" controls></audio></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>