<h1 class="animate__animated animate__bounce">Héroe <small>

</small></h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button routerLink="/lista" class="btn btn-warning">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster mt-2">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm"> 
            <div class="form-group">
                <label>ID</label>
                <input type="text"
                class="form-control"
                placeholder="User ID"
                name="userId"
                [(ngModel)]="post.userId" >
            </div>
            <!-- <div class="form-group">
                <label>Id</label>
                <input type="text"
                name="id"
                [(ngModel)]="post.id" 
                placeholder="Id"
                class="form-control" required>                
            </div> -->
            <div class="form-group">
                <label>Título</label>
                <input type="text"
                name="title"
                [(ngModel)]="post.title" 
                placeholder="Título"
                class="form-control">                
            </div>
            <div class="form-group">
                <label>Comentario</label>
                <input type="text"
                name="body"
                [(ngModel)]="post.body" 
                placeholder="Comentario"
                class="form-control"> 
            </div>
            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
                <button (click)="mostrarAlerta()" class="btn btn-success w-25">
                    Mostrar Alerta
                </button>
            </div>

        </form>
    </div>
</div>
