<h1>Buscando: <small>{{termino}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroesArray.length==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{termino}}
        </div>
    </div>
</div>
<div class="card-columns">
    <!-- *ngFor="let heroe of heroesArray; let i = index" -->
    <app-heroe-tarjeta [indice]="obj.indice" [heroe]="obj" *ngFor="let obj of heroesArray;"></app-heroe-tarjeta>

</div>